.vermas{
    position: fixed;
    top: 65px;
    right: 10px;
    color: #62a9db;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 9999;
    left: 83.7%;
}

.economia{
    text-decoration: underline;
    text-decoration-color: #62a9db;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.imagenes{
    width: 250px;
    margin-right: 20%;
}

.texto{
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 227px;
    color: #3985c3;
    font-weight: bold;
    font-size: small;
}

.descrip{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d4877;
    font-weight: bold;
    font-size: 100%;
    text-align: left;
}

.text{
    max-width: 85%;
    text-align: justify;
}